Que1:-What are data structures, and why are they important?
Ans1:-Data structures are ways to organize and store data so it can be used efficiently.
Importance:
Help in fast data access and processing
Save memory and time
Improve algorithm performance
Essential for solving real-world problems in coding
Example: Arrays, Linked Lists, Stacks, Queues, Trees, Graphs, Hash Tables.

Que2:-  Explain the difference between mutable and immutable data types with examples.
Ans2:-Difference Between Mutable and Immutable Data Types:
Feature	Mutable	Immutable
Definition	Can be changed after creation	Cannot be changed after creation
Examples	list, dict, set	int, float, str, tuple
Behavior	Modifying changes the original	Modifying creates a new object.
foe Example:-# Mutable
a = [1, 2, 3]
a.append(4)   # a becomes [1, 2, 3, 4]

# Immutable
b = "hello"
b = b + " world"   # new string created, old one unchanged

Que3:-What are the main differences between lists and tuples in Python?
Ans3:-Differences Between List and Tuple in Python (Short):
Feature	List	Tuple
Syntax	[] (square brackets)	() (parentheses)
Mutability	Mutable (can be changed)	Immutable (cannot be changed)
Performance	Slower	Faster (due to immutability)
Use Case	When data may change	When data should not change.
foe Example:-
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)

Que4:-Describe how dictionaries store data?
Ans4:-How Dictionaries Store Data (Short):
Dictionaries store data as key-value pairs using a hash table.

Each key is hashed to find its location in memory.

Keys must be unique and immutable.

Values can be of any type.

Que5:- Why might you use a set instead of a list in Python?
Ans5:-
Reason	Explanation
No Duplicates	Sets automatically remove duplicates
Faster Lookup	Sets use hashing → faster in checks
Set Operations	Supports union, intersection, difference

Que6:- What is a string in Python, and how is it different from a list?
Ans6:-A string is a sequence of characters enclosed in quotes (' ' or " ").
Example:
s = "Hello"
String:
A string is a sequence of characters enclosed in quotes. It is immutable, used for handling text.
Example: "hello"

List:
A list is a collection of items (of any type) enclosed in square brackets. It is mutable, used for storing multiple values.
Example: ["h", "e", "l", "l", "o"]

Que7:-How do tuples ensure data integrity in Python?
Ans7:-
Tuples are immutable, meaning their values cannot be changed after creation.
This prevents accidental modification, ensuring the data stays constant and secure.

Example:
data = (101, "Arpit", "CS")

Que8:-What is a hash table, and how does it relate to dictionaries in Python?
Ans8:-A hash table is a data structure that stores key-value pairs using a hash function to quickly find the value based on the key.

Relation to Dictionaries in Python:
Python's dictionaries are built using hash tables.

The key is hashed to get an index.

The value is stored at that index for fast lookup.

Que9:- Can lists contain different data types in Python?
Ans9:-Yes, Python lists can store multiple data types in a single list.

Example:
mixed = [1, "hello", 3.14, True]

Que10:-Explain why strings are immutable in Python.
Ans10:-Strings are immutable to ensure:

Memory efficiency (shared string storage)

Data safety (avoid accidental changes)

Hashing support (used as keys in dictionaries)

Example:
s = "hello"
s[0] = "H"

Que11:- What advantages do dictionaries offer over lists for certain tasks?
Ans11:-1. Fast Access:
Dictionaries use keys and hashing, so data can be accessed quickly (O(1) time).
Lists require searching by index or value, which is slower.

2. Key-Value Pair Storage:
Dictionaries store data in key-value form, making it easy to label and access data.
Lists only store values with numeric indexes.

3. Better for Lookups:
For tasks like searching, dictionaries are more efficient than lists.

Que12:- Describe a scenario where using a tuple would be preferable over a list?
Ans12:-Scenario Where Tuple is Better Than List (Short):
Use a tuple when you want to store fixed, unchangeable data.

Example:
Storing coordinates or a date:

python
Copy
Edit
location = (27.7, 85.3)   # Tuple for latitude & longitude
Why:

Data should not change

Safer and faster than a list

Que13:- How do sets handle duplicate values in Python?
Ans13:-Sets automatically remove duplicate values.
They store only unique elements.

Example:
s = {1, 2, 2, 3}
print(s)  # Output: {1, 2, 3}

Que14:- How does the “in” keyword work differently for lists and dictionaries?
Ans14:-In Lists:
The in keyword checks if a value exists in the list.
Example:
nums = [1, 2, 3]
print(2 in nums)  # True
In Dictionaries:
The in keyword checks if a key exists in the dictionary (not the value).
Example:
student = {"name": "Arpit", "age": 20}
print("name" in student)  # True
print(20 in student)      # False

Que15:-Can you modify the elements of a tuple? Explain why or why not?
Ans15:-No, you cannot modify the elements of a tuple.

Why?
Because tuples are immutable — once created, their values cannot be changed.

Example:
t = (1, 2, 3)
t[0] = 10  # ❌

Que16:- What is a nested dictionary, and give an example of its use case?
Ans16:-A nested dictionary is a dictionary inside another dictionary.

Use Case:
Storing structured data, like student records.

Example:
students = {
  "101": {"name": "Arpit", "age": 20},
  "102": {"name": "Riya", "age": 21}
}

Que17:- Describe the time complexity of accessing elements in a dictionary.
Ans17:-Time Complexity of Accessing Elements in a Dictionary (Short):
Accessing elements in a dictionary has average-case time complexity of O(1) due to hashing.

Example:
data = {"a": 1, "b": 2}
print(data["b"])  # O(1) access

Que18:- In what situations are lists preferred over dictionaries.
Ans18:-When Lists Are Preferred Over Dictionaries (Short):
When order of items matters

When storing simple sequences of values

When keys are not needed

For iterating over data in a fixed order

Example:
marks = [85, 90, 78]  #

Que19:- Why are dictionaries considered unordered, and how does that affect data retrieval?
Ans19:-Earlier in Python (<3.7), dictionaries were unordered, meaning items had no fixed order.

From Python 3.7+, they preserve insertion order, but still behave logically unordered, as order isn't guaranteed for logic.

Effect on Data Retrieval:
You access by key, not by position

Can't rely on order like in lists

Que20:-Explain the difference between a list and a dictionary in terms of data retrieval.
Ans20:-Difference Between List and Dictionary in Data Retrieval
List:

Data is accessed using indexes (like list[0]).

Slower for searching specific values (O(n) time).

Best for ordered collections where position matters.

Dictionary:

Data is accessed using keys (like dict["name"]).

Much faster for lookups (O(1) time) due to hashing.

Best for key-value data where quick access is needed.

**Practical Questions**

Que1:-Write a code to create a string with your name and print it.

In [1]:
name = "Arpit Dubey"
print(name)

Arpit Dubey

Que2:- Write a code to find the length of the string "Hello World"

In [2]:
text = "Hello World"
length = len(text)
print(length)

11

Que3:- Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
text = "Python Programming"
sliced = text[:3]
print(sliced)

Pyt

Que4:-Write a code to convert the string "hello" to uppercase.

In [4]:
text = "hello"
upper_text = text.upper()
print(upper_text)

HELLO

Que5:-Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

Que6:- Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

Que7:- Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

Que8:- Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

Que9:- Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [9]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

Que10:-Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

Que11:- Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [11]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

Que12:-. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [12]:
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print(second_last)

blue

Que13:- Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [13]:
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

Que14:- Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
animals = ('dog', 'cat', 'rabbit')
index = animals.index("cat")
print(index)

1

Que15:- Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [15]:
fruits = ("apple", "banana", "mango")
is_kiwi_present = "kiwi" in fruits
print(is_kiwi_present)

False

Que16:-. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [16]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

Que17:-Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [17]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

Que18:-Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [18]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

Que19:- Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_result = set1 | set2  # Using '|' operator
print(union_result)

{1, 2, 3, 4, 5}

Que20:- Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [20]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_result = set1 & set2  # Using '&' operator
print(intersection_result)

{2, 3}

Que21:-. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [21]:
person = {
    "name": "Arpit",
    "age": 20,
    "city": "Lucknow"
}
print(person)

{'name': 'Arpit', 'age': 20, 'city': 'Lucknow'}

Que22:- Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [22]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

Que23:- Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [23]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

Que24:-Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [24]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

Que25:- Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [25]:
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

Que26:-Write a code to create a list, a tuple, and a dictionary, and print them all.

In [27]:
# Create a list
my_list = [10, 20, 30]

# Create a tuple
my_tuple = ('red', 'green', 'blue')

# Create a dictionary
my_dict = {'fruit': 'apple', 'color': 'red'}

# Print all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [10, 20, 30]
Tuple: ('red', 'green', 'blue')
Dictionary: {'fruit': 'apple', 'color': 'red'}

Que27:-. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced).

In [28]:
import random

# Generate list of 5 random numbers
random_numbers = random.sample(range(1, 101), 5)

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print("Sorted Random Numbers:", random_numbers)

Sorted Random Numbers: [11, 36, 64, 73, 91]

Que28:- Write a code to create a list with strings and print the element at the third index.

In [29]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])  # Index starts from 0

date

Que29:- Write a code to combine two dictionaries into one and print the result.

In [30]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine using unpacking (Python 3.5+)
combined_dict = {**dict1, **dict2}

print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Que30:- Write a code to convert a list of strings into a set.

In [31]:
string_list = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list)
print(string_set)

{'apple', 'banana', 'cherry'}